body {
  background-color: beige;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginpage_title {
  font-size: 3em;
}

.input_field {
  width: 400px;
  font-size: 1.2em;
  padding: 5px;
}

.login_button {
  margin: 20px;
}
