.tile {
  margin: 5px;
  padding: 10px;
  border: 2px solid black;
}

.tile_unit {
  margin-left: 10px;
  margin-right: 10px;
}

.link_button {
  color: black;
  text-decoration: none;
}

.tile_button {
  background-color: #4caf50; /* Green */
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.tile_button_dlt:hover {
  background-color: rgb(185, 65, 65);
}
